<%- include('../partials/header.ejs') %>
    <div class="content">
        <div class="center-container ">
            <% if(categories.length){ %>
                <% categories.forEach(category => { %>
                <div class="listing">
                    <h3><%= category %></h3>
                    <!-- <img src="/images/kit.jpeg" alt="Girl in a jacket" width="200" height="200"> -->
                    <ol>
                        <% if(items.length){ %>
                            <% items.forEach(item => { 
                                if (item.category === category) { %>
                                    <li><a href="/items/<%= item.id %>"><%= item.title %></a></li>
                                <% } });
                            } else { %>
                                <p>There are no connections to display.</p>
                        <% } %>
                    </ol>
                </div>
                <% }); %>
            <% } else { %>
                <p>There are no categories to display.</p>
            <% } %>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>  









